.container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: column;
    position: relative;
    padding: 40px 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
 }