.container {
    display: flex;
    padding: 20px 30px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    color: #000000;
 }

 #links {
    flex-grow: 1;
    display: flex;
    gap: 20px;

    .links {
    cursor: pointer;
    }
}