
<article *ngFor="let item of characters" style="margin-bottom: 20px;">
    <p-card
    header="{{ item.name }}"
    [style]="{ 
        border: '1px solid black', 
        'border-radius': '20px',
        width: '330px',
        'text-align': 'center',
        color: 'white',
        float: 'left',
        'margin-bottom': '20px',
        'margin-left': '20px'
    }" styleClass="shadow-2"> 
        <ng-template pTemplate="header">
            <img src="{{ item.image }}" alt="Personaje">
        </ng-template>  
        <p [style]="{'margin-left':'10px', 'text-align': 'center'}">
            <span >{{ item.status }} - {{ item.species }}</span>
            <div [style]="{'margin-left':'10px', 'text-align': 'center'}">
                <span >Last known location:</span><br>
                <span>{{ item.location.name}}</span>
            </div>
            <div [style]="{'margin-top':'10px', 'text-align': 'center', 'margin-bottom': '10px'}">
                <span>First seen in:</span><br>
                <span>{{ item.episode[0] }}</span>
            </div>
    </p-card>
</article>